* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    background-color: thistle;
    padding: 9px;
}

.logos {
    text-align: center;
    font-size: 40px;
    padding-left: 40px;
}

.color {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    background-color: rgb(1, 0, 0);
}

.navabar {
    display: flex;
    padding-left: 500px;
    padding-top: 15px;
    gap: 40px;
    justify-content: space-between;
    gap: 30px;
}

.navabar a {
    text-decoration: none;
    color: black;

}

.img {
    height: 600px;
    width: 100%;
    position: relative;
}

.imm {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text {
    position: absolute;
    color: white;
    top: 25px;
    width: 100%;
    /* gap: 20px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}


.kl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.klw {
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
    justify-self: center;
}

.kl p {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.subtopic {
    font-size: 50px;
    font-weight: bold;
}

.description {
    padding-top: 10px;
    font-size: 20px;
    width: 60%;
    color: rgb(216, 216, 216);
    text-align: center;
}

.button .btn1 {
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.btn1:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.scheldules {
    padding-left: 400px;
    height: 70px;
    font-size: 30px;
    padding-top: 100px;
    width: 900px;
}

.sch {
    background-color: rgb(18, 4, 4);
    padding-top: 50px;
    text-align: center;
    justify-content: center;
    height: 200px;

}

.divpart1 {
    font-size: 25px;
    display: flex;
    gap: 30px;
    font-weight: lighter;
    padding-left: 100px;
}

.div1 {
    border: 2px solid rgb(201, 191, 191);
    border-radius: 10px;
    display: flex;
    gap: 30px;
    width: 200px;
    padding: 10px 10px 10px 10px;
}

.div2 {
    border: 2px solid rgb(201, 191, 191);
    border-radius: 10px;
    display: flex;
    gap: 100px;
    width: 200px;
    padding: 10px 10px 10px 10px;
}

.div3 {
    border: 2px solid rgb(201, 191, 191);
    border-radius: 10px;
    display: flex;
    gap: 100px;
    width: 200px;
    padding: 10px 10px 10px 10px;

}

/* 
.arow{
padding-left: 50px;
} */

.divpart2 {
    display: flex;
    font-size: 25px;
    gap: 30px;
    padding-left: 100px;
    padding-top: 30px;
    background-color: black;

}

.div4 {
    border: 2px solid rgb(201, 191, 191);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    width: 200px;
    padding: 10px 10px 10px 10px;
    font-weight: lighter;
}

.div5 {
    border: 2px solid rgb(201, 191, 191);
    border-radius: 10px;
    display: flex;

    gap: 100px;
    width: 200px;
    padding: 10px 10px 10px 10px;
}

.btnn2 {

    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 30px;
    background-color: thistle;
    width: 227px;
}

.btnn2:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.heading {
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 120px;
}

.heee {
    padding-top: 10px;
    font-size: 20px;
    color: gray;
}

.immg {
    border-radius: 10px;
    display: flex;
}

.choco{
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.btn3{
    
}

  