* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(165, 164, 168);
    padding: 9px;
}

.logos {
    text-align: center;
    font-size: 40px;
    padding-left: 40px;
}

.color {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 2;
    background-color: rgb(9, 9, 12);
}

.navabar {
    display: flex;
    padding-left: 500px;
    padding-top: 15px;
    gap: 50px;
    justify-content: space-between;

}

.navabar a {
    text-decoration: none;
    color: black;

}

.img {
    height: 600px;
    width: 100%;
    position: relative;
    z-index: 2;
}

.imm {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text {

    position: absolute;
    color: white;
    top: 25px;
    width: 100%;
    z-index: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}


.kl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.klw {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-self: center;


}

.kl p {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.subtopic {
    font-size: 50px;
    font-weight: bold;
    color: rgb(253, 254, 255);
}

.description {
    z-index: -1;
    font-size: 20px;
    width: 60%;
    color: rgb(178, 166, 166);
    text-align: center;
}

.button {
    padding-top: 20px;
}

.button .btn1 {
    padding: 15px 30px 15px 30px;
    border-radius: 10px;

}

.btn1:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.scheldules {
    color: black;
    padding-left: 50px;
    height: 60px;
    font-size: 30px;
    padding-top: 190px;

    width: 800px;
    z-index: 2;

}

.sch {

    background-color: rgb(220, 220, 223);
    padding-top: 25px;
    height: 150px;
    border-radius: 10px;

}

.divpart {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    display: flex;
    gap: 30px;
    padding-top: 10px;
    font-weight: lighter;

}

.div1 {
    border: 2px solid rgb(18, 3, 3);
    border-radius: 10px;
    display: flex;
    gap: 30px;
    width: 200px;
    padding: 10px 10px 10px 10px;
}



.btnn {


    border-radius: 10px;
    font-size: 20px;

    width: 227px;
}

.btnn:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.body2 {
    margin-top: 100px;
    background: white;

}

.heading {
    text-align: center;
    padding-top: 60px;
    font-size: 20px;


}

.heee {
    padding-top: 10px;
    font-size: 20px;
    color: black;
}

.choco {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.btn3 {
    background-color: burlywood;
    color: white;
    padding: 10px 20px 10px 20px;
    position: absolute;
    z-index: 2;
}

.btn3:hover {
    background-color: red;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 22px;
}


.first {
    text-align: center;
    justify-content: center;
}

.sub {
    padding-top: 10px;
    font-size: 20px;
    color: gray;

}

.body3 {
    margin-top: 100px;
    height: fit-content;
    padding: 50px 30px 30px 30px;

    background-color: rgb(232, 247, 253);
}



.firstrow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.parg {
    font-size: 12px;
}

.hero {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}


.p1 {
    display: flex;
    gap: 20px;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body4 {
    margin-top: 120px;

    padding: 60px 40px;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.05);
}

.footer {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    justify-content: space-between;
}



.footer-text-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    min-width: 300px;
    font-family: 'Times New Roman', Times, serif;
}

.inng {
    height: 500px;
    width: 500px;
}


.foot {
    font-size: 25px;
    color: #666;
    line-height: 1.8;
}

.foot1 {
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;

}


.footer-image-section img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;

}

.buttonn {
    margin-top: auto;
    align-self: flex-start;
}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    padding-top: 5px;
    border-radius: 10px;
    font-size: 20px;
}

.btn:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.immg {
    height: 200px;
    width: 200px;
}




.icon1 svg {
    font-size: 20px;
}



.gaga {
    background-color: rgb(213, 221, 243);
    display: flex;
    gap: 22px;
    align-items: center;
    flex-direction: column;
    padding: 45px 40px 40px 40px;
    justify-content: center;
    margin-top: 120px;
}

.et {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
}


.mk {
    width: 70px;
    border-radius: 100%;
    height: 70px;
}

.tt2 {
    display: flex;
    gap: 30px;
    padding-right: 20px;
}

.khanal {
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

.ess {
    height: 250px;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    /* gap: 30px; */
    align-items: center;
    justify-content: center;
}

.ss {
    padding-top: 19px;
    font-size: 20px;
    /* padding-bottom: 10px; */

}

.last {
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tt {

    font-size: 35px;
    font-weight: bold;
}

.pp {
    padding-top: 30px;
    padding-top: 10px;
    color: grey;
    font-size: 22px;
}

.icon {

    justify-content: center;
    align-items: center;
}




.secondlast {
    margin-top: 120px;
    background-color: rgb(225, 228, 227);
}

.ppi {
    margin-top: 20px;
    height: 500px;
    width: 300px;
    padding-left: 30px;

}

.pi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 200j;
    gap: 15px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.td {
    padding: 0px 5px 0px 5px;
    border-right: 1px solid burlywood;

}

.ttt {
    display: flex;
    height: 20px;
    width: 150px;
    gap: 10px;
}

/* .tt{
    padding-top: 20px;
} */

.t {
    margin-top: 10px;
    display: grid;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 360px;
}

.hh {
    /* margin: 5px; */
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}



.main-footer {
    background-color: #c2c3c5;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    padding: 60px 40px 30px;
margin-top: 80px;
    border-top: 2px solid #10060f;

}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    /* min-width: 200px; */
}

.footer-section h3 {
    font-size: 22px;
    font-weight: bold;
    color: #aa571c;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* margin-bottom: 10px; */
    /* border-bottom: 1px solid #111011; */
    padding-bottom: 5px;
}

.footer-section p {
    font-size: 20px;
    line-height: 1.5;
    color: #555;
    /* font-weight: 300; */
}


.social-links {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(138, 71, 137, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dbd8db;
    text-decoration: none;

}

.social-icon:hover {
    background-color: #5a585f;
    color: white;

}


.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 12px;
}

.footer-links a {
    color: #555;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
}

.footer-links a:hover {
    color: #f1eef1;
    font-weight: 500;
}


.contact-info {
    font-size: 14px;
    line-height: 1.9;
    color: #555;

}

@media screen and (max-width: 1200px) {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .container {
        flex-direction: column;
        align-items: center;
        padding: 10px 15px;
        gap: 10px;
    }

    .logos {
        padding-left: 0;
        text-align: center;
    }

    .navabar {
        padding: 5px 0;
        font-size: 12px;
        gap: 15px;
        justify-content: center;
        flex-wrap: wrap;
    }


    .img {
        width: 100%;
        height: 420px;
    }


    .text {
        position: absolute;
        padding: 0 15px;
        text-align: center;
        font-size: 16px;
    }

    .subtopic {
        font-size: 26px;
        margin-top: 10px;
    }

    .description {
        width: 100%;
        max-width: 500px;
        font-size: 15px;
        line-height: 1.6;
        margin: 10px auto;
    }


    .scheldules {
        width: 100%;
        padding: 15px;
        margin-top: 30px;
    }

    .sch {

        padding: 15px;
        height: auto;
        border-radius: 12px;
    }

    .divpart {
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }

    .div1 {
        width: 100%;
        justify-content: space-between;
        padding: 12px;
    }

    .btnn {
        width: 100%;
        max-width: 280px;
        height: 45px;
        margin-top: 10px;
    }

    .body2 {
        margin-top: 400px;

        padding: 0 10px;
    }

    .heading {
        padding-top: 30px;
    }

    .choco {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .immg {
        width: 100%;
        max-width: 280px;
        height: auto;
    }


    .firstrow {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .p1 {
        text-align: center;
        padding: 15px;
    }


    .footer {
        flex-direction: column;
        gap: 25px;
        padding: 0 15px;
        text-align: center;
    }

    .inng {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .tt2 {
        flex-direction: column;
        gap: 20px;
        height: auto;

    }

    .ss {
        padding-left: 10px;



    }

    .ess {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .pp {
        font-size: 30px;

    }

    .mkk {
        padding: 0px 30px 25px 0px;

    }

    .pi {
        grid-template-columns: 1fr;
        padding: 0 15px;
    }

    .ppi {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .hoho {
        padding-bottom: 100px;
    }

    .footer-content {
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer-section{
        
    }

    .footer-section p {
        width: 240px;
    }

    .hjere {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* gap: 3px; */
    }
}