* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    background-color: thistle;
    padding: 9px;
}

.logos {
    text-align: center;
    font-size: 40px;
    padding-left: 40px;
}

.color {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    background-color: rgb(1, 0, 0);
}

.navabar {
    display: flex;
    padding-left: 500px;
    padding-top: 15px;
    gap: 40px;
    justify-content: space-between;
    gap: 30px;
}

.navabar a {
    text-decoration: none;
    color: black;

}

.img {
    height: 600px;
    width: 100%;
    position: relative;
}

.imm {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text {
    position: absolute;
    color: white;
    top: 25px;
    width: 100%;
    /* gap: 20px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}


.kl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.klw {
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
    justify-self: center;
}

.kl p {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.subtopic {
    font-size: 50px;
    font-weight: bold;
}

.description {
    padding-top: 10px;
    font-size: 20px;
    width: 60%;
    color: rgb(216, 216, 216);
    text-align: center;
}

.button .btn1 {
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.btn1:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.scheldules {
    padding-left: 100px;
    height: 60px;
    font-size: 30px;
    padding-top: 120px;
    width: 900px;
}

.sch {
    background-color: rgb(18, 4, 4);
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    height: 200px;

}

.divpart {
    font-size: 20px;
    display: flex;
    gap: 30px;
    padding-top: 30px;
    font-weight: lighter;
    padding-left: 100px;
}

.div1 {
    border: 2px solid rgb(201, 191, 191);
    border-radius: 10px;
    display: flex;
    gap: 30px;
    width: 200px;
    padding: 10px 10px 10px 10px;
}

/* .div2 {
    border: 2px solid rgb(201, 191, 191);
    border-radius: 10px;
    display: flex;
    gap: 100px;
    width: 200px;
    padding: 10px 10px 10px 10px;
}

.div3 {
    border: 2px solid rgb(201, 191, 191);
    border-radius: 10px;
    display: flex;
    gap: 100px;
    width: 200px;
    padding: 10px 10px 10px 10px;

}

/* 
.arow{
padding-left: 50px;
} */
/* 
.divpart2 {
    display: flex;
    font-size: 20px;
    gap: 30px;
    padding-left: 100px;
    padding-top: 30px;
    background-color: black;

}

.div4 {
    border: 2px solid rgb(201, 191, 191);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    width: 200px;
    padding: 10px 10px 10px 10px;
    font-weight: lighter;
}

.div5 {
    border: 2px solid rgb(201, 191, 191);
    border-radius: 10px;
    display: flex;

    gap: 100px;
    width: 200px;
    padding: 10px 10px 10px 10px;
}  */

.btnn {

    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    background-color: thistle;
    width: 227px;
}

.btnn:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.body2 {
    margin-top: 20px;
    background: rgb(246, 240, 246);
}

.heading {
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 120px;
}

.heee {
    padding-top: 10px;
    font-size: 20px;
    color: gray;
}



.choco {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: center;
    justify-content: center;
}

.btn3 {
    background-color: burlywood;
    color: white;
    padding: 10px 20px 10px 20px;
    position: absolute;
    z-index: 2;
}

.btn3:hover {
    background-color: red;
    cursor: pointer;
}

.first {
    text-align: center;
    justify-content: center;
}

.sub {
    padding-top: 10px;
    font-size: 20px;
    color: gray;

}

.body3 {
    height: fit-content;
    padding: 30px;
    background-color: thistle;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 22px;
}


.firstrow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    gap: 20px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.parg {
    font-size: 12px;
}

.hero {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}


.p1 {
    display: flex;
    gap: 30px;
    flex-direction: column;
    border-radius: 20px;
    padding: 12px;
    border: 2px solid orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body4 {
    margin-top: 20px;
    background: linear-gradient(135deg, #E6C5E0 0%, #DAA0DD 100%);
    padding: 60px 40px;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.05);
}

.footer {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    justify-content: space-between;
}



.footer-text-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    min-width: 300px;
    font-family: 'Times New Roman', Times, serif;
}

.footer-image-section {
    flex: 1;
    min-width: 300px;
}

.foot {
    font-size: 16px;
    color: #666;
    line-height: 1.8;
}
.foot1 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;

}


.footer-image-section img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.buttonn {
    margin-top: auto;
    align-self: flex-start;
}

.btn {
    width: 150px;
    height: 50px;

    padding-top: 5px;
    border-radius: 10px;
    font-size: 20px;
}

.btn:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.immg {
    height: 200px;
    width: 200px;
}




.icon1 svg {
    font-size: 20px;
}



.gaga {
    background-color: whitesmoke;
    display: flex;
    gap: 22px;
    align-items: center;
    flex-direction: column;
    padding: 45px 100px 40px 100px;
    justify-content: center;
    margin-top: 20px;
}

.et {
   margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
}


.mk {
    width: 80px;
    border-radius: 100%;
    height: 80px;
}

.tt2 {
    display: flex;
    gap: 10px;
    padding-right: 20px;
}
.khanal{
    font-weight: bold;
}
.ess {
    height: 150px;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.ss{
    font-size: 20px;
}
.last{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
       justify-content: center;
   }
    
.tt {
    font-size: 35px;
    font-weight: bold;
}

.pp {
    color: grey;
    font-size: 22px;
}

.icon {
    padding-top: 10px;
}




.secondlast {
    margin-top: 20px;
    background-color: whitesmoke;
}

.ppi {
    height: 600px;
    width: 300px;
    padding-left: 30px;
    
}

.pi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    gap: 15px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}


.td{
    padding: 0px 5px 0px 5px;

    border-right : 2px solid burlywood;
   
}
.ttt{
    margin-top: 5px;
    display: flex;
    border: 2px solid burlywood;
    height: 20px;
    width: 150px;
    gap: 10px;
}


.t{
    margin-top: 10px;
display: grid;
flex-direction: column;
border: 2px solid rgb(165, 165, 28);
 width: 360px;
}
   
.hh {
margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}



.main-footer {
    background-color: #DAA0DD;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    padding: 60px 40px 30px;
    margin-top: 40px;
    border-top: 4px solid #8b4789;
    box-shadow: 0 -5px 20px rgba(218, 160, 221, 0.3);
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    min-width: 200px;
}

.footer-section h3 {
    font-size: 22px;
    font-weight: bold;
    color: #4a2a4a;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border-bottom: 3px solid #8b4789;
    padding-bottom: 10px;
}

.footer-section p {
    font-size: 15px;
    line-height: 1.8;
    color: #555;
    font-weight: 300;
}


.social-links {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(138, 71, 137, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8b4789;
    text-decoration: none;
    border: 2px solid #8b4789;
}

.social-icon:hover {
    background-color: #8b4789;
    color: white;
    box-shadow: 0 5px 15px rgba(139, 71, 137, 0.4);
}


.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 12px;
}

.footer-links a {
    color: #555;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
}

.footer-links a:hover {
    color: #8b4789;
    font-weight: 500;
}


.contact-info {
    font-size: 14px;
    line-height: 1.9;
    color: #555;
}

.contact-info strong {
    color: #4a2a4a;
    font-weight: 600;
}


.footer-bottom {
    border-top: 2px solid rgba(139, 71, 137, 0.3);
    padding-top: 25px;
}

.footer-divider {
    height: 2px;
    background-color: #8b4789;
    margin-bottom: 20px;
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin: 0;
    font-weight: 300;
}

.copyright a {
    color: #8b4789;
    text-decoration: none;
    font-weight: 600;
}

.copyright a:hover {
    color: #4a2a4a;
    text-decoration: underline;
}